//  @include margin(0px,10px,null,0px);

@mixin margin($top:null,$right:null,$bottom:null,$left:null) {
   @if $lang == 'ltr'{
     
     @if ($top){
       margin-top:$top;
     }
     @if ($right){
       margin-right:$right;
     }
     @if ($bottom){
       margin-bottom:$bottom;
     }
     @if ($left){
       margin-left:$left;
     }
     
  }
  @if $lang == 'rtl'{
    
    @if ($top){
       margin-top:$top;
     }
     @if ($right){
       margin-left:$right;
     }
     @if ($bottom){
       margin-bottom:$bottom;
     }
     @if ($left){
       margin-right:$left;
       
     }
     
  }
}