@import 'variables-default'; // Custom Default Variables

$lang:  'arb';

/*
@if $lang == 'eng'{
    right: 0;
}
@if $lang == 'arb'{
    left: 0;
}
*/

// Bootstrap
@import "bootstrap/bootstrap";

// Common
@import 'common-include';